<wicket:extend>
    <h3><wicket:message key="header"></wicket:message></h3><br/>
    <table cellpadding="0" cellspasing="0" wicket:id="table">[table]</table><br/>
    
    <form wicket:id="addUserForm">
        <h3><wicket:message key="adding"></wicket:message></h3><br/>
        <table class="form_table">
        <tr>
            <td>
                <label wicket:id="login-label">12</label>
            </td>
            <td>
                <input wicket:id="login" name="login" id="login" type="text"/>
            </td>
        </tr>
        <tr>
            <td>
                <label wicket:id="firstName-label">13</label>
            </td>
            <td>
                <input wicket:id="firstName" name="firstName" id="firstName" type="text"/>
            </td>
        </tr>
        <tr>
            <td>
                <label wicket:id="lastName-label">14</label>
            </td>
            <td>
                <input wicket:id="lastName" name="lastName" id="lastName" type="text"/>
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
            <td>
                <input type="submit" wicket:id="ajax-button" value="<wicket:message key='button.add'></wicket:message>"/>
                <input type="submit" wicket:id="ajax-update-button" value="<wicket:message key='button.update'></wicket:message>"/>
            </td>
        </tr>
    </table>
    </form><br/>
    <span wicket:id="feedback"/>
</wicket:extend>
