<html>
<head>
    <wicket:head>
        <link rel="stylesheet" type="text/css" href="css/master.css"/>
    </wicket:head>
    <title>Error 404</title>
</head>
<body>
    <div id="header">
		
		<h1><a href="#" title="Go Home">Celestial <span>A free task manager</span></a></h1>
		
		<div class="tree"></div>
	</div><!--/header-->
	
		<div id="signin">
                    <h3><wicket:message key="goodbye"></wicket:message></h3>
                    <wicket:link><a href="../SignInPackage/SignIn.html"><wicket:message key="homepage"></wicket:message></a></wicket:link>
                        
                </div><!--/content-->
    </body>
</html>
