<html>
<head>
<wicket:head>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</wicket:head>
    <title>Wicket Examples - Authorization Roles</title>
</head>
<body>
    <div style="float:left; width:200px">
        <span wicket:id="adminMenu">
            
        </span>
        <span wicket:id="userMenu">
            
        </span>
        <span wicket:id="allMenu">
            
        </span>
    </div>
    <div style="float:left">
        <wicket:child/>
    </div>
</body>
</html>